<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">


<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-size-1">Edit Trip</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <%= render 'form', trip: @trip %>

            <%= link_to 'Show', @trip %> |
            <%= link_to 'Back', trips_path %>
        </div>
    </div>
</div>
